<IfModule mod_rewrite.c>
    RewriteEngine On

    # RewriteCond %{REQUEST_FILENAME} ^(.*/\\)$
    # RewriteRule ^(.*)$ /$1.php [L,R=301]

    # Redirect non-www and HTTP to HTTPS with www
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} ^softonlinetraining\.com [NC]
    RewriteRule ^(.*)$ https://www.softonlinetraining.com/$1 [L,R=301]
    
    # Redirect www but HTTP to HTTPS
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP_HOST} ^www\.softonlinetraining\.com [NC]
    RewriteRule ^(.*)$ https://www.softonlinetraining.com/$1 [L,R=301]


    # Remove trailing slash
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} ^(.+)/$
    RewriteRule ^ %1 [R=301,L]
    
        # Custom rule to handle blog-details clean URL
    # Redirect /blog-details/abcd/efgh to blog-details.php
    RewriteRule ^blog/([^/]+)/([^/]+)$ blog-details.php?title=$1&id=$2 [L]

    # Redirect index.php to /
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(index)\.php [NC]
    RewriteRule ^ / [R=301,L]

    RewriteRule ^oracle-fusion-scm-training$ /oracle/oracle-fusion/oracle-fusion-scm-training/oracle-fusion-scm-online-training [R=301,L]
    RewriteRule ^oracle-fusion-hcm-online-training$ /oracle/oracle-fusion/oracle-fusion-hcm-online-training/oracle-fusion-hcm-training [R=301,L]
    RewriteRule ^oracle-fusion-cloud-financials$ /oracle/oracle-fusion/oracle-fusion-financials-training/oracle-fusion-financials-online-training [R=301,L]
    RewriteRule ^oracle-fusion-technical-online-training$ /oracle/oracle-fusion/oracle-fusion-technical-online-training/oracle-fusion-technical-training [R=301,L]
    RewriteRule ^oracle-fusion-procurement-training$ /oracle/oracle-fusion/oracle-fusion-procurement-training/oracle-fusion-procurement-online-training [R=301,L]
    RewriteRule ^oracle-fusion-oic-training$ /oracle/oracle-fusion/oic-online-training/oracle-integration-cloud-online-training [R=301,L]
    RewriteRule ^oracle-fusion-orc$ /oracle/oracle-fusion/orc-online-training/oracle-recruiting-cloud-online-training [R=301,L]
    RewriteRule ^oracle-gtm-online-training$ /oracle/oracle-fusion/oracle-gtm-training/oracle-global-trade-management-training [R=301,L]
    RewriteRule ^oracle-fusion-wms-cloud-training$ /oracle/oracle-fusion/oracle-wms-logfire-training/oracle-warehouse-management-training [R=301,L]
    RewriteRule ^oracle-transportation-management-training$ /oracle/oracle-fusion/oracle-transportation-management-cloud-training/otm-training [R=301,L]
    RewriteRule ^oracle-fusion-scm-training-in-hyderabad$ /oracle/oracle-fusion/oracle-fusion-scm-training/oracle-fusion-scm-training-in-hyderabad [R=301,L]
    RewriteRule ^oracle-fusion-scm-training-in-bangalore$ /oracle/oracle-fusion/oracle-fusion-scm-training/oracle-fusion-scm-training-in-bangalore [R=301,L]
    RewriteRule ^oracle-fusion-scm-training-in-pune$ /oracle/oracle-fusion/oracle-fusion-scm-training/oracle-fusion-scm-training-in-pune [R=301,L]
    RewriteRule ^oracle-apps-scm-training-in-chennai$ /oracle/oracle-fusion/oracle-fusion-scm-training/oracle-apps-scm-training-in-chennai [R=301,L]
    RewriteRule ^oracle-finance-course-in-hyderabad$ /oracle/oracle-fusion/oracle-fusion-financials-training/oracle-finance-course-in-hyderabad [R=301,L]
    RewriteRule ^oracle-finance-course-in-bangalore$ /oracle/oracle-fusion/oracle-fusion-financials-training/oracle-finance-course-in-bangalore [R=301,L]
    RewriteRule ^oracle-finance-course-in-pune$ /oracle/oracle-fusion/oracle-fusion-financials-training/oracle-finance-course-in-pune [R=301,L]
    RewriteRule ^oracle-finance-course-in-chennai$ /oracle/oracle-fusion/oracle-fusion-financials-training/oracle-finance-course-in-chennai [R=301,L]
    RewriteRule ^oracle-fusion-hcm-training-in-hyderabad$ /oracle/oracle-fusion/oracle-hcm-training-in-hyderabad/oracle-fusion-hcm-training-in-hyderabad [R=301,L]
    RewriteRule ^oracle-fusion-hcm-training-in-bangalore$ /oracle/oracle-fusion/oracle-hcm-training-in-bangalore/oracle-fusion-hcm-training-in-bangalore [R=301,L]
    RewriteRule ^oracle-fusion-hcm-training-in-pune$ /oracle/oracle-fusion/oracle-hcm-training-in-pune/oracle-fusion-hcm-training-in-pune [R=301,L]
    RewriteRule ^oracle-fusion-hcm-training-in-chennai$ /oracle/oracle-fusion/oracle-hcm-training-in-chennai/oracle-fusion-hcm-training-in-chennai [R=301,L]
    RewriteRule ^oracle-fusion-technical-training-in-hyderabad$ /oracle/oracle-fusion/oracle-fusion-technical-training/oracle-fusion-technical-training-in-hyderabad [R=301,L]
    RewriteRule ^oracle-fusion-technical-training-in-chennai$ /oracle/oracle-fusion/oracle-fusion-technical-training/oracle-fusion-technical-training-in-chennai [R=301,L]
    RewriteRule ^oracle-fusion-technical-training-in-bangalore$ /oracle/oracle-fusion/oracle-fusion-technical-training/oracle-fusion-technical-training-in-bangalore [R=301,L]
    RewriteRule ^oracle-fusion-technical-training-in-pune$ /oracle/oracle-fusion/oracle-fusion-technical-training/oracle-fusion-technical-training-in-pune [R=301,L]

    # Redirect rules based on the new_slug array
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-scm-training/oracle-fusion-scm-online-training$ oracle-fusion-scm-training.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-hcm-online-training/oracle-fusion-hcm-training$ oracle-fusion-hcm-online-training.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-financials-training/oracle-fusion-financials-online-training$ oracle-fusion-cloud-financials.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-technical-online-training/oracle-fusion-technical-training$ oracle-fusion-technical-online-training.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-procurement-training/oracle-fusion-procurement-online-training$ oracle-fusion-procurement-training.php [L]
    RewriteRule ^oracle/oracle-fusion/oic-online-training/oracle-integration-cloud-online-training$ oracle-fusion-oic-training.php [L]
    RewriteRule ^oracle/oracle-fusion/orc-online-training/oracle-recruiting-cloud-online-training$ oracle-fusion-orc.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-gtm-training/oracle-global-trade-management-training$ oracle-gtm-online-training.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-wms-logfire-training/oracle-warehouse-management-training$ oracle-fusion-wms-cloud-training.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-transportation-management-cloud-training/otm-training$ oracle-transportation-management-training.php [L]
    RewriteRule ^oracle-r12-apps-financial-training$ oracle-r12-apps-financial-training.php [L]
    RewriteRule ^oracle-scm-training-online$ oracle-scm-training-online.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-scm-training/oracle-fusion-scm-training-in-hyderabad$ oracle-fusion-scm-training-in-hyderabad.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-scm-training/oracle-fusion-scm-training-in-bangalore$ oracle-fusion-scm-training-in-bangalore.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-scm-training/oracle-fusion-scm-training-in-pune$ oracle-fusion-scm-training-in-pune.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-scm-training/oracle-apps-scm-training-in-chennai$ oracle-apps-scm-training-in-chennai.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-financials-training/oracle-finance-course-in-hyderabad$ oracle-finance-course-in-hyderabad.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-financials-training/oracle-finance-course-in-bangalore$ oracle-finance-course-in-bangalore.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-financials-training/oracle-finance-course-in-pune$ oracle-finance-course-in-pune.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-financials-training/oracle-finance-course-in-chennai$ oracle-finance-course-in-chennai.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-hcm-training-in-hyderabad/oracle-fusion-hcm-training-in-hyderabad$ oracle-fusion-hcm-training-in-hyderabad.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-hcm-training-in-bangalore/oracle-fusion-hcm-training-in-bangalore$ oracle-fusion-hcm-training-in-bangalore.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-hcm-training-in-pune/oracle-fusion-hcm-training-in-pune$ oracle-fusion-hcm-training-in-pune.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-hcm-training-in-chennai/oracle-fusion-hcm-training-in-chennai$ oracle-fusion-hcm-training-in-chennai.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-technical-training/oracle-fusion-technical-training-in-hyderabad$ oracle-fusion-technical-training-in-hyderabad.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-technical-training/oracle-fusion-technical-training-in-bangalore$ oracle-fusion-technical-training-in-bangalore.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-technical-training/oracle-fusion-technical-training-in-chennai$ oracle-fusion-technical-training-in-chennai.php [L]
    RewriteRule ^oracle/oracle-fusion/oracle-fusion-technical-training/oracle-fusion-technical-training-in-pune$ oracle-fusion-technical-training-in-pune.php [L]

    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(index) [NC]
    RewriteRule ^ / [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php
</IfModule>